.list {
    width : 100%;
}

.list_item {
    width: 100%;
    text-align: center;
}

.item {
    color: black !important;
}

.item:hover {
    color: white !important;
    background-color: black;
}



.link {
    display: block;
    width: calc(100% - 20px); /* 양 옆에 10px씩 공간을 띄우기 위해 전체 너비에서 20px을 뺍니다. */
    margin: 0 auto; /* 좌우 가운데 정렬 */
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #e9ecef;
}
