.list_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.lists {
    list-style: none;
    padding: 5px;
    margin: 0;
    width : 15%;
    border : 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */

}

.list_tag {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding : 20px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.item:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.item_title {
    font-size: 20px;
    text-align: center;
}

.link_black {
    text-decoration: none;
    color: black;
}
