.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin : 0 auto;
}

.projectInfoFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width : 80%;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width : 100%;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input,
.textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
}

.textarea {
    height: 150px; /* You can adjust this height as needed */
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
